[submodule "src/rapid/wrappers/extern/rapid-freetype"]
	path = src/rapid/wrappers/extern/freetype
	url = https://github.com/liquid600pgm/rapid-freetype.git
[submodule "src/rapid/wrappers/extern/chipmunk"]
	path = src/rapid/wrappers/extern/chipmunk
	url = https://github.com/slembcke/Chipmunk2D.git
